.subtitle {
  left: 13%;
  bottom: 15%;

  font-size: 1.8vw;

  h3 {
    font-size: inherit;
  }

  @screen lg {
    font-size: 1.2vw;
  }
}


@keyframes blinking {
  0% {
    color: black;
  }
  30% {
    color: #E2A50D;
  }
  60% {
    color: black;
  }
  100% {
    color: black;
  }
}
.blink {
  animation: blinking 4s infinite;

  &:hover {
    color: white !important;
  }
}

.arrow-down {
  font-size: 5rem;
}
